$main-point: #22cccc;
$main-theme: #4E5379;
$steel-blue: #b6c1e8;
$light-blue-gray: #f9f9fc;
$middle-blue-grey: #d9dcea;
$dark-blue-grey: #acb2ce;
$warm-grey: #999999;
$black: #2b2b2b;
$light-purple: #ad6af0;
$middle-grey: #cccccc;
$dark: #2d3241;
$dark-grey: #555555;

$light-red: #fa265f;
$dark-red: #c81e4c;



$shiraz: #961739;
$manatee: #8a8fa5;
$nevada: #676b7c;
$solitude: #e9ebf4;
$bluezodiac: #3a3f5a;
$dolphin: #5d6381;
$breakerbay: #1ba3a3;
$ming: #39797a;


$token-color-1-main: #9B60D6;
$token-color-1-sub: #7C4DAB;
$token-color-2-main: #D64A70;
$token-color-2-sub: #AB3B5A;
$token-color-3-main: #EFD236;
$token-color-3-sub: #BFA82B;
$token-color-4-main: #98BF41;
$token-color-4-sub: #7A9934;



//리뉴얼 color 공통 설정 작업 진행
$black-zero: #000000;
$Black-one: #222222;
$Black-two: #1B2038;
$Blue-zero: #292E4F;

$Scope-blue: #313557;
$Blue-two: #464A68;
$Blue-three: #4E527D;
$Blue-four: #73768D;
$Blue-five: #9699B2;

$Grey-two: #7E8098;
$Grey-four: #E4E7F0;
$Grey-five: #F1F3F8;
$Wallet-bg: #F9F9FC;
$White-one: #FFFFFF;

$Shade-blue-one: #7F9AC6;
$Light-blue-one: #77ACE8;
$Light-blue-two: #A8CEFF;
$Purple-blue-one: #98A3FF;
$Pink: #F792D8;
$Peach-one: #F86969;
$Orange-pink: #EF8989;

$Orange: #E58A48;
$Sand: #D6AC71;
$Yellow: #F6C644;
$Light-yellow: #F8D881;
$Blue-green-one: #6AD1BA;
$Blue-green-two: #78C9B7;
$Neon-green: #0AFF00;
$Red: #d64a70;

