$main-point: #22cccc;
$main-theme: #3a51b2;
$white: #ffffff;
$fluro-green: #0aff00;
$steel-blue: #b6c1e8;
$light-blue-gray: #f9f9fc;
$middle-blue-grey: #d9dcea;
$dark-blue-grey: #acb2ce;
$warm-grey: #999999;
$black: #2b2b2b;
$light-purple: #ad6af0;
$middle-grey: #cccccc;
$dark: #2d3241;
$dark-grey: #555555;
$light-red: #fa265f;
$dark-red: #c81e4c;

$shiraz: #961739;
$manatee: #8a8fa5;
$nevada: #676b7c;
$solitude: #e9ebf4;
$bluezodiac: #3a3f5a;
$dolphin: #5d6381;
$breakerbay: #1ba3a3;
$ming: #39797a;


$token-color-1-main: #AD6AF0;
$token-color-1-sub: #8B55C0;
$token-color-2-main: #FA265F;
$token-color-2-sub: #C81E4C;
$token-color-3-main: #ffd800;
$token-color-3-sub: #ccad00;
$token-color-4-main: #9cce2c;
$token-color-4-sub: #7da523;
