$AVAILABLE_COMMITTEE_ICON_LENGTH: 6;
$MAX_COMMITTEE_LENGTH: 13;

@mixin node-decoration {
  @for $i from 1 through $MAX_COMMITTEE_LENGTH {
    &--#{$i} {
        background-image: url(/static/images/icon-node-c-#{$i % $AVAILABLE_COMMITTEE_ICON_LENGTH + 1}.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }

    &--proposer {
      &#{$i} {
        background-image: url(/static/images/icon-node-bp-#{$i % $AVAILABLE_COMMITTEE_ICON_LENGTH + 1}.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &--validator {
      &#{$i} {
        background-image: url(/static/images/icon-node-vd-#{$i % $AVAILABLE_COMMITTEE_ICON_LENGTH + 1}.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
