@import "colors.scss";

@mixin fixed-center() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin full-width() {
  @media screen and (min-width: 1320px) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin title() {
  color: #AAAAAA;
  text-align: left;
  margin-left: 14px;
  font-size: 20px;
  margin-bottom: 20px;
}

@mixin description() {
  color: #AAAAAA;
  text-align: left;
  margin-left: 14px;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 24px;

  &--highlight {
    color: #0DFF92;
  }
}

@mixin background-image($imagePath) {
  background-image: url($imagePath);
  background-repeat: no-repeat;
  background-position: center;
}

@mixin panelize() {
  width: 600px;
  height: 672px;
  background-color: $white;
  border: 1px solid $solitude;
  padding: 40px 75px;
}
