.DashboardPage {
  margin-bottom: 80px;
}

.DashboardPage__table {
  display: inline-block;
  min-width: 648px;
  width: 45%;
  vertical-align: top;

  margin-right: 38px;
  padding-left: 56px;

  &:last-child {
    // margin-right: 38px;
    // padding-right: 56px;
  }
}

.DashboardPage__statsBackground {
  z-index: -1;
  width: 100vw;
  position: absolute;
  height: 480px;
  left: 0;
  top: 72px;
  background-image: linear-gradient(to bottom, #344bac, #3a51b1 23%, #3248a3);
}
