@import "fonts.scss";

.AccessByKeystore {

}

.AccessByKeystore__password {
  position: relative;
  margin-top: 30px;
  margin-bottom: 0;
}

.AccessByKeystore__form {
  visibility: visible;

  &--hide {
    visibility: hidden;
  }
}

