@import "fonts.scss";

.AccessByKeystore {

}

.AccessByKeystore__password {
  margin-top: 32px;
  margin-bottom: 40px;
}

.AccessByKeystore__form {
  visibility: visible;

  &--hide {
    visibility: hidden;
  }
}

.AccessByKeystore__button {
  @include font-style('button');
  padding: 16px 40px;
}
