@import "mixins.scss";
@import "fonts.scss";

.AccessByPrivatekey {
  @include mobile {
    margin-bottom: 60px;
  }
  width: 100%;
}

.AccessByPrivatekey__input {
  margin: 0 auto;
}

.AccessByPrivatekey__button {
  @include font-style('button');
  padding: 16px 40px;
}
