@import "mixins.scss";
@import "fonts.scss";

.AccessByPrivatekey {
  @include mobile {
    margin-bottom: 60px;
  }
  width: 100%;
  padding: 30px 0;
}

.AccessByPrivatekey__input {
  margin: 0 auto;
}

.AccessByPrivatekey__button {
  @include font-style('button');
  margin-top: 20px;
  padding: 16px 40px;
}
