@import "fonts.scss";

.AccessByKeystore {

}

.AccessByKeystore__password {
  margin-top: 32px;
  margin-bottom: 0;
}

.AccessByKeystore__form {
  visibility: visible;

  &--hide {
    visibility: hidden;
  }
}

