@import 'colors.scss';

.AccessReminder {
  width: 496px;
  text-align: left;
  margin: 40px 0;
}

.AccessReminder__checkbox {
  background-image: url(/static/images/checkbox-default.svg);
  width: 20px;
  height: 20px;
  margin: 2px 8px 0 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;

  &--checked {
    background-image: url(/static/images/checkbox-checked.svg);
  }
}

.AccessReminder__description {
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  color: $Blue-five;
  cursor: pointer;
  span {
    font-weight: bold;
  }
}