@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";

.AddToken {
  background-color: $dolphin;
  padding-bottom: 100px;
}

.AddToken__topBlock {
  background-color: $bluezodiac;
  padding: 48px;
}

.AddToken__header {
  position: relative;
  margin-bottom: 8px;
}

.AddToken__title {
  @include font-style('h2');
  color: $white;
}

.AddToken__description {
  @include font-style('body');
  color: $dark-blue-grey;
  line-height: 20px;
}

.AddToken__downBlock {
  padding: 48px;
}

.AddToken__xButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.AddToken__input {
  margin-bottom: 32px;

  .Input__label {
    color: $white;
  }

  .Input__input {
    color: $white;
    &::placeholder {
      color: $dark-blue-grey;
    }
  }

  &.Input {
    border-color: $dark-blue-grey;

    &:focus-within {
      border-color: $white;
    }
  }
}

.AddToken__saveButton {
  display: block;
  width: 114px;
  padding: 16px 40px;
  margin: 0 auto;
  margin-top: 40px;
}
