@import "colors.scss";
@import "fonts.scss";

.BlockDetail {
  padding: 56px;
}

.BlockDetail__header {
  margin-bottom: 62px;
}

.BlockDetail__title {
  @include font-style('h1');
  display: inline-block;
  color: $main-color;
}

.BlockDetail__blockNumber {
  @include font-style('block-number');
  margin-left: 22px;
  display: inline-block;
  color: $main-color;
}

.BlockDetail__blockSummary {
  margin-bottom: 48px;
}

.BlockDetail__blockTransactionsSummary {
  margin-bottom: 48px;
}

.BlockDetail__blockCommitteeInfo {
  margin-bottom: 80px;
}
