@import "fonts.scss";
@import "colors.scss";

.BlockSummary {
  border: 1px solid $pale-grey;
}

.BlockSummary__item {
  width: 100%;
  display: table;
  table-layout: fixed;
  background-color: $white;
  padding: 28px 50px;
  border-bottom: 1px solid $pale-grey;

  &:last-of-type {
    border-bottom: 0;
  }
}

.BlockSummary__itemTitle {
  @include font-style('body');
  color: $steel-grey;
  width: 20%;
  display: table-cell;
}

.BlockSummary__itemValue {
  @include font-style('button');
  color: $slate-grey;
  width: 80%;
  display: table-cell;
}
