@import "fonts.scss";
@import "colors.scss";

.BlockTransactionsSummary {

}

.BlockTransactionsSummary__item {
  position: relative;
  display: inline-block;
  height: 120px;
  width: 25%;
  background-color: $white;
  border: 1px solid $pale-grey;
  border-right: 0;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 34px;
  &:last-of-type {
    border-right: 1px solid $pale-grey;
  }
  overflow: hidden;
}

.BlockTransactionsSummary__title {
  @include font-style('h2');
  color: $main-color;
  margin-bottom: 21px;
}

.BlockTransactionsSummary__itemDecorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.BlockTransactionsSummary__itemDecoration {
  float: left;
  display: inline-block;
  height: 4px;

  &--deployment { background-color: $sc-deployment; }
  &--execution { background-color: $sc-execution; }
  &--transfer { background-color: $value-transfer; }
}

.BlockTransactionsSummary__itemTitle {
  @include font-style('body');
  color: $steel-grey;
  margin-bottom: 26px;
}

.BlockTransactionsSummary__itemValue {
  @include font-style('button');
  color: $slate-grey;
}
