@import "fonts.scss";
@import "colors.scss";
@import "committee.scss";

.CommitteeStatus {
  background-color: $white;
  box-shadow: 0 3px 10px 0 rgba(58, 81, 178, 0.1);
  border-radius: 2px;
  padding: 36px;
  height: 240px;
}

.CommitteeStatus__visualization {
  display: inline-block;
  width: 75%;
  width: 414px;
  vertical-align: top;
  position: relative;
  top: 25%;
}

.CommitteeStatus__explanation {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  text-align: left;
  position: relative;
  left: 32px;
  top: 25%;
}

.CommitteeStatus__symbol {
  @include node-decoration;
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-right: 26px;
  margin-bottom: 14px;
  border: 0;

  &:first-of-type {
    margin-left: 36px;
  }

  &:nth-of-type(10) {
    margin-left: 36px;
  }
}

.CommitteeStatus__title {
  @include font-style('button');
  color: $slate-grey;
  margin-bottom: 22px;
}

.CommitteeStatus__blockProposer {
  margin-bottom: 32px;
  padding-left: 22px;
}

.CommitteeStatus__validator {
  padding-left: 22px;
}

.CommitteeStatus__label {
  @include font-style('label');
  color: $steel-grey;
  display: inline-block;
  margin-bottom: 11px;
  position: relative;

  &:before {
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--blockProposer:before { background-color: $btn; }
  &--validator:before { background-color: #ffc017; }
}

.CommitteeStatus__blockProposerValue, .CommitteeStatus__validatorValue {
  @include font-style('menu-bold');
  color: $btn;
}

.CommitteeStatus__blockProposer {
  margin-bottom: 32px;
}
