@import "mixins.scss";
@import "fonts.scss";
@import "colors.scss";

.Disclaimers {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  background: rgba($Black-zero,.5);
  padding: 20px 0;
  overflow-y: scroll;
  text-align: center;
  &.show {
    display: block;
  }
  .inner_box {
    background: $White-one;
    display: inline-block;
    text-align: left;
    padding: 50px 40px 45px;
    max-width: 960px;
    min-width: 960px;
    height: 650px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px $Grey-four;
    position: relative;
    top: 0%;
    transform: translateY(0%);
    .languageChange__button_list {
      text-align: right;
      position: absolute;
      top: 25px;
      right: 40px;
    }
    .languageChange__button {
      @include font-style('button-small');
      min-width: 64px;
      width: 64px;
      background: #cacbd8;
      box-shadow: 0 4px 8px 0 rgba(202, 203, 216, 0.25);
    }
    .languageChange__button +.languageChange__button {
      margin-left: 5px;
    }
    .languageChange__button.on {
      background-color: #6AD1BA;
      box-shadow: 0 4px 8px 0 rgba(106, 209, 186, 0.25);
    }
  }
  @media screen and (min-height: 680px) { 
    .inner_box {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  
  
  .Disclaimers_box {
    display: none;
    &.show {
      display: block;
    }
  }
  .Disclaimers_title {
    @include font-style('body'); 
    font-weight: bold;
    color: $Scope-blue;
    b {
      color: $Red;
    }
  }
  .Disclaimers_list {
    @include font-style('body');
    color: $Blue-five;
    margin-bottom: 24px; 
    b {
      color: $Red;
      font-weight: normal;
    }
  }
  li {
    position: relative;
    margin-top: 6px;
    padding-left: 22px; 
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 17px;
      height: 17px;
      background-image: url(/static/images/icon_success_check-disabled.svg);
    }
  }
  &.agree .Disclaimers_list li:after {
    background-image: url(/static/images/icon_success_check-active.svg);
  }
  .Disclaimers_footer {
    position: absolute;
    width: 100%;
    padding: 0 40px;
    left: 0;
    bottom: 44px;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .Disclaimers_agree {
      float: left;
      height: 48px;
      line-height: 48px;
    }
    .Disclaimers_agree__button {
      float: right;
    }
  }
}
.Disclaimers__checkbox {
  background-image: url(/static/images/checkbox-default.svg);
  width: 20px;
  height: 20px;
  margin: 0px 8px 0 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  &--checked {
    background-image: url(/static/images/checkbox-checked.svg);
  }
}

.Disclaimers__description {
  display: inline-block;
  @include font-style('body'); 
  color: $Scope-blue;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
}
