@import "fonts.scss";
@import "colors.scss";

.EditButton {
  @include font-style('label');
  background-color: $white;
  color: $dark-blue-grey;
  width: 60px;
  padding: 8px;
  border: 1px solid $solitude;
}
