@import "fonts.scss";
@import "colors.scss";

.EditButton {
  @include font-style('label');
  background-color: $White-one;
  color: $dark-blue-grey;
  width: 64px;
  height: 30px;
  border: 1px solid $solitude;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.EditButton__icon {
  width: 12px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}
