@import "fonts.scss";
@import "colors.scss";

.Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 76px;
  padding: 32px 54px;
  background-color: $pale-grey;
  width: 100%;
}

.Footer__copyright {
  @include font-style('label');
  color: $silver-two;
}
