@import "mixins.scss";
@import "fonts.scss";
@import "colors.scss";

.Input {
  width: 100%;
}

.Input__inner {
  border: 0;
  border-bottom: 1px solid $middle-blue-grey;
  padding: 0;
  transition: border-width 100ms linear, border-color 300ms linear;
  position: relative;
  outline: 0;
  background-color: transparent;

  &::after {
    @include mobile {
      right: 0;
    }
    position: absolute;
    top: 6px;
    right: 5px;
    content: '';
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: right 50%;
    background-size: cover;
  }

  &::placeholder {
    color: $middle-blue-grey;
  }

  &:focus-within {
    border-color: $main-theme;
  }

  &--noFocus {
    border-bottom: 1px solid #333 !important;
  }

  &--error {
    border-bottom: 1px solid #d64a70 !important;
  }
}

.Input__label {
  @include font-style('label');
  color: $main-theme;
  cursor: text;
  display: block;
  text-align: left;
  margin-bottom: 16px;
}

.Input__input {
  @include font-style('body');
  color: $black;
  background-color: transparent;
  outline: 0;
  border: 0;
  width: 95%;
  height: 100%;
  display: block;
  padding-bottom: 12px;

  &::placeholder {
    color: $middle-blue-grey;
  }

  &:-webkit-autofill {
    background-color: transparent;
  }
}

.Input__unit {
  @include font-style('body');
  color: $dark-grey;
  position: absolute;
  right: 0;
  bottom: 12px;
}

.Input__error {
  @include font-style('caption');
  text-align: left;
  color: #d64a70;
  margin-top: 10px;
  height: 14px;
}
