@import 'colors.scss';
@import 'fonts.scss';

.InputPassword {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $middle-blue-grey;
  transition: border-width 100ms linear, border-color 300ms linear;
  position: relative;
  outline: 0;
  background-color: transparent;
  padding: 0;
  padding-bottom: 12px;

  &::placeholder {
    color: $solitude;
  }

  &:focus-within {
    border-color: $main-theme;
  }

  &--noFocus {
    border-bottom: 1px solid #333 !important;
  }
}

.InputPassword__input {
  @include font-style('body');
  color: $dark-grey;
  background-color: transparent;
  outline: 0;
  border: 0;
  width: 95%;
  height: 100%;
  display: block;

  &:-webkit-autofill {
    background-color: transparent;
  }

  &--active .InputPassword__eye {
    &--show { background-image: url('/static/images/btn-show.svg'); }
    &--hide { background-image: url('/static/images/btn-hide.svg'); }
  }
}

.InputPassword__eye {
  border: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 65%;
  right: 0;
  transform: translateY(-50%);
  outline: none;
  background: center / contain no-repeat transparent;
  cursor: pointer;
}

.InputPassword__label {
  @include font-style('label');
  color: $main-theme;
  cursor: text;
  display: block;
  text-align: left;
  margin-bottom: 16px;
}

.InputPassword__tooltip {
  background-color: $dark;
  box-shadow: 0 3px 6px 0 rgba($dark, 0.25);
  padding: 20px 24px;
  border-radius: 10px;
}
