@import 'colors.scss';
@import 'fonts.scss';
@import 'mixins.scss';

.InputCopy {
  width: 100%;
  border: 0;
  padding: 0;
  transition: border-width 100ms linear, border-color 300ms linear;
  position: relative;
  outline: 0;
  background-color: transparent;
  &.not__margin { 
    margin-bottom: 4px;
  }
  &.textarea__show .textarea__Copy {
    @include font-style('caption-alert');
    color: $Red;
    padding: 7px 8px 8px;
  }
}

.InputCopy__inputWrapper {
  position: relative;
  padding-right: 72px;
  &__type2{
    padding-left: 68px;
  }
  .input__subname {
    @include font-style('label');
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 68px;
    padding-left: 8px;
    line-height: 30px;
    color: $dark-blue-grey;
    background-color: #f0f2fc;
  }
  .input__subname+input {

  }
  &.InputCopy__inputWrapper__type3 {
    padding: 0;
    .InputCopy__copyButton {
      bottom: -38px; 
    }
    .InputCopy__eye {
      right: 8px;
      z-index: 2;
    }
  }
  .hide { 
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
  }
  .textarea__Copy {
    position: relative;
    width: 100%;
    padding: 7px 37px 6px 8px;
    height: 50px;
    border: none;
    resize: none;
    color: $dark-blue-grey;
    background-color: #f0f2fc;
    outline: none;
    z-index: 1;
    @include font-style('body');
    &.textarea__password {
      font-size: 18px;
      line-height: 1.1;
    }
  }
  
}

.InputCopy__input {
  @include font-style('body');
  text-overflow: ellipsis;
  color: $dark-blue-grey;
  background-color: #f0f2fc;
  outline: 0;
  border: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
  padding: 0px 8px;


  &::placeholder {
    color: $middle-blue-grey;
  }

  &:-webkit-autofill {
    background-color: transparent;
  }
}
.InputCopy__eye +.InputCopy__input  {
  padding-right: 30px;
}
.InputCopy__copyButton {
  @include font-style('button-small');
  color: $Blue-three;
  width: 64px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 64px;
  border-radius: 2px;
  border: solid 1px #f0f2fc;
  background-color: $White-one;
  &--copied {
    background-color: $Blue-green-one !important;
    color: $White-one;
    .InputCopy__icon { 
      display: none; 
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
  }
}

.InputCopy__icon {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 12px;
  margin-left: 8px;
}

.InputCopy__copiedText {
  @include font-style('caption');
  @include textPosition();
  text-align: left;
  color: $main-point;
  transition: opacity 300ms;
  opacity: 0;
  margin-top: 10px;

  

}

.InputCopy__label {
  @include font-style('label');
  color: $main-theme;
  cursor: text;
  display: block;
  text-align: left;
  margin-bottom: 8px;
}


.InputCopy__eye {
  border: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 80px;
  outline: none;
  background: center / contain no-repeat transparent;
  cursor: pointer;

  &--show { background-image: url('/static/images/btn-show.svg'); }
  &--hide { background-image: url('/static/images/btn-hide.svg'); }
}


