@import 'colors.scss';
@import 'fonts.scss';

.InputPassword {
  width: 100%;
}

.InputPassword__input {
  position: relative;

  & .InputPassword__eye {
    border: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    outline: none;
    background: center / contain no-repeat transparent;
    cursor: pointer;
  }

  &--active .InputPassword__eye {
    &--show { background-image: url('/images/btn-show.svg'); }
    &--hide { background-image: url('/images/btn-hide.svg'); }
  }
}
