@import 'colors.scss';
@import 'fonts.scss';
@import "mixins.scss";
.keystore_down_popup { 
  .createMainPopup__inner {
    width: 480px;
    height: 360px;
    margin: -240px 0 0 -120px;
    .InputPassword {
      margin-bottom: 40px
    }
  }
  .download__btn {
    width: 240px;
  }
}
