@import "fonts.scss";
@import "colors.scss";
@import "mixins.scss";

.KlayFaucet {
  text-align: center;
}

.KlayFaucet__content {
  @include panelize;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 64px 48px;
  margin: 0 auto;
}

.KlayFaucet__img {
  width: 160px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}

.KlayFaucet__title {
  @include font-style('h1');
  color: $black;
  margin-bottom: 64px;
}

.KlayFaucet__address {
  .Input__input {
    color: $dark-blue-grey;
  }
}

.KlayFaucet__balance {
  .Input__input {
    @include font-family('roboto');
    @include font-style('h2');
  }
}

.KlayFaucet__input {
  margin-bottom: 32px;
}
