@import "mixins.scss";
@import "fonts.scss";
@import "colors.scss";

.Landing {
  width: 674px;
  margin: 72px auto 0;
}

.Landing__title {
  @include font-style('h1');
  color: $White-one;
  margin-bottom: 8px;
  text-align: center;
}

.Landing__label {
  @include font-style('h3');
  font-weight: normal;
  display: block;
  
  color: $Blue-five;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.Landing__item {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  width: 256px;
  text-align: left;
  margin-right: 40px;
  &:last-of-type {
    margin-right: 0;
  }
}

.Landing__image {
  margin: 0 auto;
  display: block;
  width: 150px;
  height: 150px;
  margin-bottom: 16px;
}

.Landing__itemTitle {
  @include font-style('button');
  color: $dark-grey;
  margin-bottom: 16px;
  line-height: 20px;
}

.Landing__itemDescription {
  @include font-style('body');
  color: $warm-grey;
  line-height: 20px;
}
.main__link_list{
  margin-bottom: 90px;
  ul {
    margin-left: -16px;
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
  li {
    padding-left: 16px;
    width: 33.3334%;
    float: left;
  }  
  button {
    @include font-style('button')
    width: 100%;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border: none;
    color: $White-one;
    padding: 0;
    outline: none;
    cursor: pointer;
    &.create {
      background-color: $Purple-blue-one;
    }
    &.info {
      background-color: $Blue-green-one;
    }
    &.send {
      background-color: $Red;
    }
  }
}

.main__text__box{
  padding: 30px;
  height: 276px;
  background-color: $Scope-blue;
  .main__text__title {
    @include font-style('body');
    color: $Grey-four;
    margin-bottom: 24px;
  }
  .main__text__list {
    @include font-style('caption');
    color: $Blue-five;
    li {
      position: relative;
      padding-left: 20px; 
    }
    li:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 12px;
      height: 12px;
      vertical-align: middle;
      background-image: url(/static/images/icon-check-off.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 6px;
      opacity: .5;
    }
    li+li {
      margin-top: 16px;
    }

  }
}
