.Login {
  width: 100%;
  // height: 100%;
  text-align: center;
}

.Login__img {
  display: block;
  margin: 40px auto;
  width: 150px;
  height: 150px;
}

.Login__input {
  border-radius: 3px;
  width: 70%;
  border: 1px solid #F8F8F8;
  font-size: 16px;
  padding: 10px;
  display: block;
  margin: 3px auto;
  border-collapse: collapse;
  
  &:first-child {
    // border-top: 1px solid black;
    // border-bottom: 0;
  }
  
  &:last-child {
    // border-top: 0;
  }
}

.Login__button {
  width: 70%;
  margin: 10px auto;
  display: block;
  border-radius: 3px;
  padding: 15px;
  font-size: 16px;
  background-color: #F6F6F6;
  color: #878787;
  cursor: pointer;
  
  &:focus {
    outline: 0;
  }
}

.Login__closeButton {
  // width: 15px;
  // height: 15px;
  // border-radius: 50%;
  // position: absolute;
  // top: 5px;
  // left: 5px;
  // background-color: #ED6A5E;
}