@import "mixins.scss";
@import "colors.scss";

.Modal {
  width: 640px;
  height: 580px;
  position: absolute;
  top: 48px;
  left: 50%;
  margin-left:-320px;
  font-family: 'SFUIText';
  font-size: 14px;
  line-height: 20px;
  background-color: $white;
  border: 1px solid #e9ebf4;
  box-shadow: 0 10px 20px 0 rgba(172, 178, 206, 0.25);
  .set{ display:none;}
  .languageChange__button {
    position: absolute;
    top:42px;
    right:40px;
  }
}

.Modal__header {
  font-weight: bold;
  color: $light-red;
  font-size:18px;
  margin: 42px 40px 22px 40px;
}

.Modal__message {
  color: $dark-grey;
  margin: 0px 40px 42px;

  .Modal__line__text {
    font-size: 14px;
    line-height: 1.43;
    color: #7a7b83;
    margin-bottom:13px;
    .Modal__text__bold{
      font-weight:bold;
      color: #2c2c2c;
    }
  }
  .Model__danger__box{
    position: relative;
    background: $light-blue-gray;
    padding: 14px 24px 14px 30px;
    margin-bottom:14px;
    .Modal__line__text:last-child{margin-bottom:0px;}
  }
  .Model__danger__box:after{
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:6px;
    height:100%;
    background:$light-red;
  }

}

.Modal__footer {
  height: 50px;
  background-color: #e9ebf4;
  padding: 0px 18px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.Modal__footerCheckBox {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: $white;
  border: 1px solid #c4c4c4;
  margin: 16px 6px 16px 0px;
  &--checked {
    @include background-image('/static/images/checkbox_active.svg');
    background-size: 8px 5px;
  }
}

.Modal__footerMessage {
  vertical-align: middle;
  font-family: 'Avenir';
  font-size: 12px;
  display: inline-block;
  color: #666666;
  margin: 14.1px 23px 14.1px 0px;
}

.Modal__footerCloseButton {
  vertical-align: middle;
  display: inline-block;
  float: right;
  margin-top: 12px;
  cursor: pointer;
  width: 60px;
  height: 26px;
  @include background-image('/static/images/btn_close.svg');
}
.languageChange__button {
  padding:0;
  width: 74px;
  height: 32px;
  line-height:32px; 
  font-size:12px;
  text-align: center;
}
