@import "mixins.scss";
@import "colors.scss";
@import "fonts.scss";

$modal-width: 640px;

.Modal {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  padding-left: 240px;
  
  .languageChange__button {
    @include font-style('button-small');
    min-width: 64px;
    width: 64px;
    background: #cacbd8;
    box-shadow: 0 4px 8px 0 rgba(202, 203, 216, 0.25);
  }
  .languageChange__button +.languageChange__button {
    margin-left: 5px;
  }
  .languageChange__button.on {
    background-color: #6AD1BA;
    box-shadow: 0 4px 8px 0 rgba(106, 209, 186, 0.25);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .Modal__inner {
    width: 670px;
    margin: 0 auto;
  }
  .languageChange__button_list {
    padding-top: 45px;
    width: 670px;
    margin: 0 auto;
  }
}
.klay__alertPopup__button {
  position: absolute;
  bottom: 0;
  left: 0px;
  font-size: 13px;
  font-weight: bold;
  background: $Shade-blue-one;
  height: 40px;
  line-height: 40px;
  width: 100%;
  border: none;
  color: $White-one;
  z-index: 2;
  cursor: pointer;
  .button__link__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -1px 0 0  8px;
    vertical-align: middle;
  }
}
.klay__alertPopup {
  height: 580px;
  background-color: $Shade-blue-one;
  position: absolute;
  bottom: -580px;
  left: 0px;
  width: 100%;
  border: none;
  z-index: 2;
  transition: bottom 500ms;
}
.klay__alertPopup.open {
  bottom: 0px;
} 
.Modal__header {
  @include font-style('h1');
  color: $White-one;
  margin: 24px 0 16px;
}

.Modal__message {
  color: $dark-grey;
  margin: 0px 0 42px;

  .Modal__line__text {
    font-size: 14px;
    line-height: 1.43;
    color: $Grey-four;
    margin-bottom: 8px;
    .Modal__text__bold{
      font-weight: bold;
      color: $White-one;
    }
  }
  .Model__danger__box{
    position: relative;
    padding: 12px 0px 12px 0px;
    margin-bottom: 14px;
    border-top: 2px dotted $White-one;
    border-bottom: 2px dotted $White-one;
    .Modal__line__text:last-child{margin-bottom:0px;}
  }

}

.Modal__footer {
  height: 50px;
  background-color: #e9ebf4;
  padding: 0px 18px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.Modal__footerCheckBox {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: $White-one;
  border: 1px solid #c4c4c4;
  margin: 16px 6px 16px 0px;
  &--checked {
    @include background-image('/static/images/checkbox_active.svg');
    background-size: 8px 5px;
  }
}

.Modal__footerMessage {
  vertical-align: middle;
  font-family: 'Avenir';
  font-size: 12px;
  display: inline-block;
  color: #666666;
  margin: 14.1px 23px 14.1px 0px;
}

.Modal__footerCloseButton {
  vertical-align: middle;
  display: inline-block;
  float: right;
  margin-top: 12px;
  cursor: pointer;
  width: 60px;
  height: 26px;
  @include background-image('/static/images/btn_close.svg');
  &_kr {
    @include background-image('/static/images/btn_close_kr.svg');
  }
}

.languageChange__button {
  padding:0;
  width: 74px;
  height: 32px;
  line-height: 32px; 
  font-size: 12px;
  text-align: center;
}
.close__button {
  position: absolute;
  top: 40px;
  right: 28px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  @include background-image('/static/images/btn-close-popup.svg');
}
.popup__dim {

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .4);
  z-index: 1;
  &.open {
    display: block;
  }
}