@import "mixins.scss";
@import "fonts.scss";
@import "colors.scss";

.MyToken {
  @include mobile {
    padding-left: 0;
    height: 100px;
  }
  padding-top: 48px;
  position: relative;
  text-align: left;
}

.MyToken__header {
  position: relative;
  margin-left: 48px;
  margin-bottom: 46px;
}

.MyToken__title {
  @include font-style('h2');
}

.MyToken__addTokenButton {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.MyToken__list {
  height: 555px;
  overflow: scroll;
}

.MyToken__addToken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.TokenItem {
  @include font-style('button');
  position: relative;
  padding: 28px 42px;
  border-bottom: 1px solid $light-blue-gray;
  border-left: 0;
  height: 100px;
  background-color: $white;

  &:first-of-type {
    border-top: 1px solid $light-blue-gray;
  }

  &--active {
    color: $white;
    background-color: $light-purple;
  }
}

.TokenItem__balance {
  @include font-family('roboto');
  @include font-style('h3');
  color: $dark-blue-grey;
}

.TokenItem__tokenName {
  @include font-style('body');
  margin-left: 10px;
  color: $dark-blue-grey;
}

.TokenItem__description {
  @include font-style('h3');
  color: $dark-blue-grey;
}

.TokenItem__decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  background-color: #ad6af0;
  height: 102%;
}
