@import "mixins.scss";
@import "fonts.scss";
@import "colors.scss";

.MyToken {
  @include mobile {
    padding-left: 0;
    height: 100px;
  }
  padding-top: 48px;
  position: relative;
  text-align: left;
  overflow-x: visible;
}

.MyToken__header {
  position: relative;
  margin-bottom: 46px;
  margin-left: 48px;
  margin-right: 48px;
}

.MyToken__title {
  @include font-style('h2');
}

.MyToken__addTokenButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.MyToken__list {
  height: 553px;
  overflow-y: scroll;
}

.MyToken__addToken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.TokenItem {
  @include font-style('button');
  position: relative;
  padding: 28px 42px;
  border-bottom: 1px solid $light-blue-gray;
  border-left: 0;
  height: 100px;
  background-color: $white;
  cursor: pointer;

  &:last-of-type {
    .TokenItem__decoration { height: 100%; }
  }

  &--active {
    color: $white;
    border-top: 0;
    border-bottom: 0;
    .TokenItem__arrow { display: inline-block; }
    .TokenItem__balance, .TokenItem__tokenName { color: $white; }
  }

  &--readOnly {
    cursor: default;
    background-color: $white;
    .TokenItem__arrow { border-left: 0; }
    &.TokenItem--active, &:hover {
      .TokenItem__balance, .TokenItem__tokenName { color: $dark-blue-grey !important; }
      color: inherit !important;
      background-color: $white !important;
    }
  }

  &--token-color-1 {
    .TokenItem__decoration { background-color: #AD6AF0; }
    .TokenItem__arrow { border-left: 20px solid #8B55C0; }
    &.TokenItem--active, &:hover {
      background-color: #8B55C0;
      color: $white;

      .TokenItem__balance, .TokenItem__tokenName { color: $white; }
    }
  }

  &--token-color-2 {
    .TokenItem__decoration { background-color: #FA265F; }
    .TokenItem__arrow { border-left: 20px solid #C81E4C; }
    &.TokenItem--active, &:hover {
      background-color: #C81E4C;
      color:$white;
      .TokenItem__balance, .TokenItem__tokenName { color: $white; }
    }
  }

  &--token-color-3 {
    .TokenItem__decoration { background-color: #ffd800; }
    .TokenItem__arrow { border-left: 20px solid #ccad00; }
    &.TokenItem--active, &:hover {
      background-color: #ccad00;
      color:$white;
      .TokenItem__balance, .TokenItem__tokenName { color: $white; }
    }
  }

  &--token-color-4 {
    .TokenItem__decoration { background-color: #9cce2c; }
    .TokenItem__arrow { border-left: 20px solid #7da523; }
    &.TokenItem--active, &:hover {
      background-color: #7da523;
      color:$white;
      .TokenItem__balance, .TokenItem__tokenName { color: $white; }
    }
  }
}

.TokenItem__balance {
  @include font-family('roboto');
  @include font-style('h3');
  color: $dark-blue-grey;
}

.TokenItem__tokenName {
  @include font-style('body');
  margin-left: 10px;
  color: $dark-blue-grey;
  margin-bottom: 6px;
}

.TokenItem__description {
  @include font-style('h3');
  color: $dark-blue-grey;
}

.TokenItem__decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  background-color: #ad6af0;
  height: 102%;
}

.TokenItem__arrow {
  display: none;
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid $white;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.TokenItem__balanceInteger {
  @include font-style('h3');
}

.TokenItem__balanceDecimal {
  @include font-style('body');
}

.TokenItem__title {
  @include font-style('button');
  margin-bottom: 6px;
}
