@import "mixins.scss";
@import "fonts.scss";
@import "colors.scss";

.MyWallet {
  @include panelize;
  @include mobile {
    padding: 10px;
  }
  width: 100%;
  height: 672px;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  padding: 0;
}

.MyWallet__title {
  @include font-style('h2');
  margin-bottom: 46px;
}

.MyWallet__hr {
  border-color: $solitude;
  border-style: dashed;
  margin-bottom: 44px;
}

.MyWallet__Input {
  margin-bottom: 40px;
}

.MyWallet__info {
  @include mobile {
    display: block;
    width: 100%;
  }
  padding: 48px;
  border-right: 1px solid $solitude;
  text-align: left;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 55%;
}

.MyWallet__token {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  padding: 0;
  overflow: hidden;
}

.MyWallet__hideButton {
  cursor: pointer;
  color: #eb0a6a;
}

.MyWallet__icon {
  background-size: cover;
  background-color: #eb0a6a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
}

.MyWallet__transactionListTitle {
  @include font-style('button');
  margin-top: 64px;
  color: $main-theme;
  margin-bottom: 10px;
}

.MyWallet__transactionListDescription {
  @include font-style('body');
  color: $dark-blue-grey;
  margin-bottom: 20px;
  line-height: 20px;
}

.MyWallet__viewTransationListButton {
  @include font-style('body');
  padding: 16px 40px;
  box-shadow: unset;
  background-color: $dark-blue-grey;
  box-shadow: 0 4px 8px 0 rgba($dark-blue-grey, 0.25);
}
