@import "mixins.scss";
@import "fonts.scss";
@import "colors.scss";

.MyWallet {
  @include panelize;
  @include mobile {
    padding: 10px;
  }
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  padding: 0;

  &--addingToken {
    .MyWallet__info {
      position: relative;
      opacity: 0.2;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.Contents__title {
  @include font-style('h2');
  margin: 20px 0 25px;

}

.MyWallet__hr {
  border-color: $solitude;
  border-style: dashed;
  margin-bottom: 44px;
}

.MyWallet__Input {
  margin-bottom: 60px;
  .InputCopy__label{
    display: inline-block;
  }
}

.MyWallet__info {
  @include mobile {
    display: block;
    width: 100%;
  }
  text-align: left;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 640px;
  margin-right: 16px;
  .Inner__Box {
    @include boxColor;
    padding: 40px;
    height: 640px;
  }
}

.MyWallet__token {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 328px;
  padding: 0;
}

.MyWallet__hideButton {
  cursor: pointer;
  color: #eb0a6a;
}

.MyWallet__icon {
  background-size: cover;
  background-color: #eb0a6a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
}
.MyWallet__viewTransation {
  position: relative;
  .scope__transaction {
    display: block;
    position: absolute;
    bottom: -4px;
    right: 0;
  }
}
.MyWallet__transactionListTitle {
  @include font-style('button');
  margin-top: 80px;
  color: $main-theme;
  margin-bottom: 10px;
}

.MyWallet__transactionListDescription {
  @include font-style('body');
  color: $dark-blue-grey;
  margin-bottom: 20px;
  line-height: 20px;
}

.MyWallet__viewTransationListButton {
  @include font-style('body');
}
