@import "colors.scss";
@import "fonts.scss";

.Nav {
  position: relative;
  background-color: $white;
  padding-top: 24px;
  top: 0;
  left: 0;
  min-width: 236px;
  min-height: 800px;
  color: $warm-grey;
  height: 100%;
  border-right: 1px solid $solitude;
}

.Nav__copyright {
  @include font-style('body');
  color: #cccccc;
  position: absolute;
  left: 28px;
  bottom: 40px;
}
