@import 'colors.scss';

.PopupWarningContent {
    position: relative;
}

.PopupWarningContent__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    color: $light-red;

    &--korean {
        font-family: 'NotoSansCJKkr';
    }
}

.PopupWarningContent__image {
    position: absolute;
    top: -2px;
    right: 0;
    width: 50px;
    height: 50px;
}

.PopupWarningContent__description {
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
    color: $dark-grey;
    
    &--english {
        margin-bottom: 20px;
    }

    &--korean {
        font-family: 'NotoSansCJKkr';
    }
}
