@import 'colors.scss';

.Popup {
  position: fixed;
  left: 0;
  z-index: 98;
  overflow: auto;
  width: 100vw;
  bottom: 0;
  height: 100vh;
  animation: openPopup 300ms;
}

.Popup__background {
  width: 100%;
  height: 100%;
  background-color: rgba($light-blue-gray, 0.6);
}

.Popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  bottom: 0;
  height: 640px;
  width: 620px;
  background-color: #fff;
  overflow: auto;
  box-shadow: 0 10px 20px 0 rgba(172, 178, 206, 0.25);
  
  &--tx {
    color: #A0A3B6;
    font-size: 22px;
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: #F1F4FC;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    .Popup__closeButton { width: 25px; height: 25px; }
  }
  
  &--login {  
    color: #A0A3B6;
    border: 1px solid #BCBCBC;
    font-size: 22px;
    text-align: center;
    width: 450px;
    height: 650px;
    background-color: #F6E24B;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    
    .Popup__closeButton {
      &::before { display: none; }
      &::after { display: none; }
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 5px;
      background-color: #ED6A5E;
    }
  }
}

@keyframes openPopup {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-10rem,0);
    transform: translate3d(0,-10rem,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

//'ok button' for temporary warning popup 
.Popup__closeButton {
  cursor: pointer;
  background-color: $light-red;
  color: #ffffff;
  font-size: 14px;
  width: 168px;
  height: 48px;
  box-shadow: 0 4px 8px 0 rgba(250, 38, 95, 0.25);
  line-height: 1.14;
  padding: 16px;
  text-align: center;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}

.Popup__continueButton {
  width: 50%;
  padding: 15px;
  margin: 40px auto;
  display: block;
  background-color: #555BE5;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  
  &:focus {
    outline: 0;
  }
  
  &:hover {
    // border: 2px solid #e7e6e4;
    -webkit-box-shadow: 0 0.4rem 0 0 #e7e6e4;
    box-shadow: 0 0.4rem 0 0 #e7e6e4;
    // -webkit-transform: translateY(-.2rem);
    // transform: translateY(-.2rem);
  }
}

.Popup__Caution {
  margin-top: 80px;
  line-height: 40px;
}

.Popup__CautionImage {
  width: 100px;
  height: 100px;
}