@import "fonts.scss";
@import "colors.scss";

.RefreshTable {
  display: inline-block;
  border-collapse: collapse;
}

.RefreshTable__title {
  @include font-style('h2');
  color: $main-color;
  line-height: 32px;
}

.RefreshTable__table {
  width: 100%;
  border-collapse: collapse;

  thead {
    text-align: left;
    background-color: $white;
    border: 1px solid $pale-grey;
  }
  tbody {
    text-align: left;
    tr {
      border-bottom: 1px solid $pale-grey;
    }
  }
  th {
    @include font-style('body');
    color: $steel-grey;
    padding: 24px 32px;
  }

  td {
    @include font-style('body-link');
    padding: 37px 30px;
  }
}

.RefreshTable__header {
  overflow: hidden;
  margin-bottom: 25px;
}

.RefreshTable__title {
  float: left;
}

.RefreshTable__refreshButton {
  float: right;
}
