@import "mixins.scss";

.SaveKeyStore {
  padding: 40px 30px;
  text-align: center;
}

.SaveKeyStore__title {
  @include title;
}

.SaveKeyStore__privateKey {
  @include mobile {
    width: 100%;
  }
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  cursor: pointer;

  input { text-align: center; }
}

.SaveKeyStore__button {
  margin: 0 auto;
  margin-top: 40px;
}

.SaveKeyStore__description {
  @include description;
}
