@import "fonts.scss";
@import "colors.scss";

.StatsItem {
  position: relative;
  background-color: $white;
  width: 22%;
  display: inline-block;
  padding: 30px 40px;
  text-align: left;
  margin-right: 36px;
  margin-bottom: 30px;

  &:nth-of-type(4) {
    margin-right: 0;
  }
}

.StatsItem__title {
  @include font-style('button');
  color: $cool-grey;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.StatsItem__value {
  @include font-style('stats-number');
  color: $slate-grey;
  margin-bottom: 14px;
}

.StatsItem__tooltipTrigger {
  display: inline-block;
  width: 12px;
  vertical-align: middle;
  margin-left: 7px;
}

.StatsItem__tooltip {
  @include font-style('label');
  width: 244px;
  line-height: 18px;
  border-radius: 10px;
  padding: 13px 24px;
  background-color: #2d3241 !important;
  opacity: 1 !important;
}

.StatsItem__decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;

  div {
    display: inline-block;
    height: 100%;
  }
}
