@import 'colors.scss';
@import 'fonts.scss';

.StepIndicator {
  display: block;
  text-align: center;
}

.StepIndicator__item {
  @include font-style('button');
  padding: 7px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: $middle-blue-grey;
  border: 1px solid $middle-blue-grey;

  &--active, &--checked {
    border: 0;
    color: $white;
    background-color: $dark-blue-grey;
  }

  &--checked {
    background-image: url(/images/icon-success-check-w.svg);
    background-repeat: no-repeat;
    background-size: 12px 8px;
    background-position: center;
  }
}

.StepIndicator__border {
  display: inline-block;
  vertical-align: middle;
  width: 128px;
  height: 1px;
  background-color: $middle-blue-grey;
}
