@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";

.TransferForm {
  // @include panelize;
  padding: 48px;
  border-left: 1px solid $solitude;
  height: 100%;
}

.TransferForm__title {
  @include font-style('h2');
  color: $black;
}

.TransferForm__hr {
  border-color: $solitude;
  border-style: dashed;
  margin: 46px 0;
}

.TransferForm__input {
  margin-bottom: 32px;
  border-bottom: 1px solid $light-blue-gray;

  &--readOnly {
    .Input__input {
      color: $dark-blue-grey;
    }
  }
}

.TransferForm__sendTransactionButton {
  display: block;
  margin: 0 auto;
  width: 202px;
  margin-top: 40px;
  padding: 16px 40px;
}
