@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";

.WalletCreationStepPlate {
  width: 435px;
  text-align: center;
  margin: 0 auto;
}

.WalletCreationStepPlate__stepName {
  @include font-style('button');
  display: inline-block;
  border-radius: 30px;
  color: $white;
  background-color: $main-theme;
  padding: 6px 14px;
  margin-bottom: 16px;
}

.WalletCreationStepPlate__title {
  @include font-style('h1');
  width: 100%;
  margin: 0 auto;
  color: $black;
  line-height: 36px;
  margin-bottom: 12px;
}

.WalletCreationStepPlate__description {
  @include font-style('body');
  color: $warm-grey;
  line-height: 20px;
  margin-bottom: 72px;
}

.WalletCreationStepPlate__nextButtons {
  margin-top: 40px;
}
