@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";

.WalletCreationStepPlate {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

.WalletCreationStepPlate__stepName {
  font-size: 12px;
  display: inline-block;
  border-radius: 28px;
  color: $White-one;
  background-color: $main-theme;
  height: 28px;
  width: 78px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 16px;
}

.WalletCreationStepPlate__title {
  @include font-style('h1');
  width: 100%;
  margin: 0 auto;
  color: $Scope-blue;
  margin-bottom: 8px;
}

.WalletCreationStepPlate__description {
  @include font-style('body');
  color: $Blue-five;
  line-height: 20px;
  margin-bottom: 40px;
}

.WalletCreationStepPlate__nextButtons {
  margin-top: 40px;
}

.WalletCreationStepPlate__skip {
  padding-top:10px;
  button {
    background: none;
    border: none;
    color: $Grey-four;
    padding: 0px;
  }
}
.WalletCreationStepPlate__list {
  margin-top: 20px;
}
.WalletCreationStep5 .InputCopy__input {
  @include font-style('caption-alert');
  
  color: $Red;
}