@import "mixins.scss";

.WalletCreation {
  padding: 40px 30px;
  text-align: center;
}

.WalletCreation__title {
  @include title;
}

.WalletCreation__description {
  @include description;
}

.WalletCreation__content {
  @include mobile {
    width: 100%;
  }
  width: 50%;
  margin: 0 auto;
}

.WalletCreation__passwordInput {
  margin-top: 80px;
  width: 100%;
  border-bottom: 2px solid #AAAAAA;
  margin-bottom: 20px;
}

.WalletCreation__button {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.WalletCreation__privateKey {

}
