@import "mixins.scss";
@import "colors.scss";

.WalletCreation2 {
  @include panelize;
  margin: 0 auto;
  width: 100%;
  max-width: 992px;
}

.WalletCreation2__stepIndicator {
  margin-bottom: 88px;
}
