@import "mixins.scss";

.WalletTransfer {
  padding: 40px 30px;
  text-align: center;
  text-align: center;
}

.WalletTransfer__title {
  @include title;
}

.WalletTransfer__description {
  @include description;
}

.WalletTransfer__label {
  color: #AAAAAA;
  display: block;
  text-align: left;
  font-size: 16px;
  margin-left: 10px;
}

.WalletTransfer__button {
  width: 30%;
  margin-top: 50px;
}

.WalletTransfer__input {
  @include mobile {
    width: 100%;
  }
  width: 60%;
  margin: 30px auto;
}
