@import "fonts.scss";
@import "colors.scss";
@import "mixins.scss";

.WalletTransfer2 {

  width: 988px;
  min-height: 800px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.WalletTransfer2__myToken {
  display: inline-block;
  width: 328px;
  vertical-align: top;

  .MyToken__list {
    @include boxColor();
    height: 551px;
  }
}

.WalletTransfer2__transferForm {
  display: inline-block;
  vertical-align: top;
}
