@import "fonts.scss";
@import "mixins.scss";

.WalletAccess2 {
  @include panelize;
  @include boxColor;
  text-align: center;
  margin:0 auto;
}

.WalletAccess2__title {
  @include font-style('h1');
  color: $Scope-blue;
  margin-bottom: 40px;
}

.WalletAccess2__description {
  @include font-style('body');
  color: $Blue-five;
  margin-bottom: 40px;
  line-height: 20px;
}

.WalletAccess2__inner {
  width: 504px;
  margin: 0 auto;
  text-align: left;
}

.WalletAcess2__tabRadio {
  margin-bottom: 20px;
}
