@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SFUIText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SFUIText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: SFUIText;
  background-color: #f9f9fc;

  * {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
