$left-layout: 25%;
$center-layout: 60%;
$right-layout: 15%;

%border {
  border: 1px solid black;
  border-collapse: collapse;
}

.Layout {
  margin: 0 auto;
  width: 100vw;
  padding: 3.2rem 0;
  padding-top: 0;
  // min-width: 1024px;
  min-height: 700px;
  // height: 100vh;
  height: 100%;
  padding-bottom: 100px;
}
